<% provide(:title, "About") %>
    <h1>About</h1>
      <p>
      The <a href="#"><em>Ruby on Rails
      </em></a>
      <a href="#k">book</a> and
      <a href="#">about</a>

      <a href="#"> Rails</a>.

      </p>
