<div class="center jumbotron">
  <h1>Breakaway Recording</h1>

  <h2>
    <a href="http://travel.nationalgeographic.com/travel/countries/indonesia-guide/">Mix & Mastering Engineer, Recording Studio & Session Musician</a>
  </h2>

  <%= link_to "Come Play!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
  <%= link_to image_tag("music_studio", alt: "record"),'#' %>

